The Jupyter Notebooks have 2 modes:
1. Editing cells (`Enter` to go)
2. Manipulating cells (`Esc` to go)

* `B` create cell bellow
* `A` create cell abow
* `M` to Markdown format
* `Y` to Code format
* `DD` to Delete cell

In [ ]:
# Current cell

# Basics Markdown

# Header 1
## Header 2
### Header 3

# Bullet list
* option 0
* option 1
* option 2
    * aaa 0
    * aaa 1

# Numbered list
1. option 0
2. option 1
3. option 2

# Base formatting
**Bolt style** 

*Italic style*

`Special Hightlight`

More on [Markdown Formatting](https://www.markdownguide.org/basic-syntax/)

# Using HTML

<ol>
  <li>First item</li>
  <li>Second item</li>
  <li>Third item
    <ol>
      <li>Indented item</li>
      <li>Indented item</li>
    </ol>
  </li>
  <li>Fourth item</li>
</ol>

# Loading Images into Markdown

![Image of Cat](src/cat_img.jpg)

# Creating Tables

# Markdown format for Tables

| No | First Name | Last Name | Grade |
|----|------------|-----------|---|
| 1 | Vol        | Donets    | 39 |
| 2 | Bob        | Catz      | 19 |
| 3 | Jim | Bobs | 38 |

# HTML Table

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Vol</td>
            <td>Donets</td>
            <td>39</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Bob</td>
            <td>Catz</td>
            <td>19</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Jim</td>
            <td>Bobs</td>
            <td>38</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th class="header-main" rowspan="2">Student ID</th>
            <th class="header-main" colspan="2">Student Name</th>
            <th class="header-main" colspan="3">Grades</th>
        </tr>
        <tr>
            <th class="header-sub">First Name</th>
            <th class="header-sub">Last Name</th>
            <th class="header-sub">Math</th>
            <th class="header-sub">Science</th>
            <th class="header-sub">English</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Vol</td>
            <td>Donets</td>
            <td>85</td>
            <td>90</td>
            <td>78</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Bob</td>
            <td>Catz</td>
            <td>88</td>
            <td>92</td>
            <td>84</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Jim</td>
            <td>Bobs</td>
            <td>90</td>
            <td>87</td>
            <td>89</td>
        </tr>
    </tbody>
</table>